 @import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway');
/* sets the body,margin and font */
BODY {
  background-color: #666;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Arial, sans-serif;
}

/*  Sets the profile image to stay within the defined size */
DIV .image {
  box-sizing: border-box;
  overflow: hidden;
}
/* Styles the my projects content section */
.myprojects {
  max-width: 1100px;
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-flow: row wrap;
  background-color: #EFEFEF;
  padding: 0px 1px
}

.myprojects > .project-number {
  flex: 1;
  min-width: 200px;
  background-color: #FFF;
  margin: 0px 1px;
  text-align: center;
}

/* Styles the images specifically*/
.myprojects > .project-number > .image {
  border: 4px solid #FFC87C;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0px 0px 10px #333;
  width: 150px;
  height: 150px;
}

.myprojects > .project-number > .image > IMG {
  min-width: 150px;
  min-height: 150px;
  width: 150px;
  margin: 0px;
}

/* Styles the names of the projects */
.myprojects > .project-number > H2 {
  margin-top: 20px;
}

/* styles the nav button*/
A.menu-open {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 50px;
  width: 50px;
  background-color: #aaa;
  color: #fff;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

/* Styles the hover for the menu button to have brand colour */
A.menu-open:hover {
  background-color: #9fcfea;
  transition: all 0.3s;
}


/* styles the img on landing page*/
HEADER {
  height: 350px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

/* Styles the profile picture on landing page */
A.profile-picture {
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 50px #999;
}

A.profile-picture IMG {
  width: 250px;
}

/* Styles the image for design page. */
A.process-image {
  height: 320px;
  margin-top: 100px;
  width: 250px;
  overflow: hidden;
  box-shadow: 0px 0px 50px #999;
}

A.process-image IMG {
  width: 250px;
}

/* styles the page title*/
DIV.page-title {
  box-sizing: border-box;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', Arial, sans-serif;
  margin-top: -50px;
}

/* styles the heading for home page */
DIV.page-title H1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
}

/* Styles the content for the landing page. */
ARTICLE.landing-content {
  background-color: #9fcfea;
  border: 1px solid #9fcfea;
  padding: 60px 0px;
  margin-top: -50px;
}

/* For the list on the design page */
UL.process-breakdown {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

/* styles the content */
ARTICLE.landing-content .wrapper {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

FOOTER {
  color: white;
}

FOOTER DIV {
  padding: 30px 30px;
}

/* social media icon */
FOOTER DIV.social UL {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

/* styles the linked in button */
FOOTER DIV.social UL LI A {
  display: inline-block;
  height: 50px;
  width: 50px;
  color: #9fcfea;
  font-size: 1.5em;
  line-height: 55px;
  transition: all 0.5s;
  border-radius: 30%;
}

/* styles the link in button on hover */
FOOTER DIV.social UL LI A:hover {
  background-color: #9fcfea;
  color: #666;
  transition: all 0.5s;
  border-radius: 50%;
}

/* Positions and styles the copyright */
FOOTER DIV.copyright {
  text-align: center;
}

FOOTER DIV.copyright I {
  color: #9fcfea;
}

/* Styles the main nav and then hides it off the screen */
NAV#main-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100vw;
  height: 100vh;
  background-color: #FFF;
  width: 100vw;
  z-index: 5;
  transition: all 0.5s;
  box-sizing: border-box;
}

/* Displays the nav when the button is clicked */
NAV#main-nav.show {
  left: 0;
  transition: all 0.5s;
}

/* Styles the close button for the nav menu */
A.close-menu {
  float: right;
  height: 50px;
  width: 50px;
  background-color: #9fcfea;
  color: white;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  font-size: 1.3em;
  transition: all 0.3s;
}

A.close-menu:hover {
  background-color: #FF4040;
  transition: all 0.3s;
}

/* Styles my name in nav */
NAV#main-nav H1 {
  height: 100px;
  line-height: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2.5em;
}

/* Styles the pages in the nav */
NAV#main-nav .page-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

NAV#main-nav .page-list LI {
  width: 100%;
}

NAV#main-nav .page-list LI A {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  padding: 35px 20px;
  position: relative;

}

NAV#main-nav .page-list LI A:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  background-color: #EFEFEF;
  transition: all 0.3s;
}

NAV#main-nav .page-list LI A:hover:before {
  background-color: #9fcfea;
  width: 10px;
  transition: all 0.3s;
}

/* Styles the buttons */
BUTTON {
 width: 95%;
 border: 2px solid #9fcfea;
 background-color: transparent;
 color: #666;
 border-radius: 8%;
 padding: 10px;
 box-sizing: border-box;
 margin-top: 15px;
 font-size: 1.2em;
 cursor: pointer;
 position: relative;
 overflow: hidden;
 transition: all 0.5s;
}

/* sets the hover colour to the brand colour */
BUTTON:hover {
 color: #666;
 background-color: #9fcfea;
 transition: all 0.5s;
}

/* Styles the content section of the pages */
ARTICLE.content {
  background-color: #9fcfea;
  border: 1px solid #9fcfea;
  box-sizing: border-box;
  padding: 20px;
}

ARTICLE.content DIV.content-header {
  height: 100px;
  font-size: 1.75em;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  box-sizing: border-box;
}

ARTICLE.content DIV.content-header H2 {
  margin: 0;
  padding: 0;
}

ARTICLE.content IMG {
  max-width: 90%;
  margin: 10px auto;
  display: block;
}

/*tablet*/
@media screen and (min-width: 600px) {
  BODY {
    background-color: #9fcfea;
    display: grid;
    grid-template-columns: 30vw auto;
    grid-template-rows: 100vh;
    grid-template-areas: "profile content";
  }

  BODY.content-page {
    display: block;
  }

  HEADER {
    grid-area: profile;
    background-color: #9fcfea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }

/* Styles the profile image for tablet */
  A.profile-picture {
    width: 25vw;
    height: 25vw;
  }

  A.profile-picture IMG {
    width: 25vw;
  }

  /* Styles the design page image */
  A.process-image {
    width: 25vw;
    height: 31.5vw;
  }

  A.process-image IMG {
    width: 25vw;
  }

  /* Styles the content for the pages */
  DIV.page-content {
    grid-area: content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /* Styles the title */
  .page-title {
    z-index: 3;
    margin-top: 0;
  }

  /* Styles the content for the home page */
  ARTICLE.landing-content {
    z-index: 1;
    margin: 0 auto;
    background-color: #efefef;
    margin-top: -40px;
    width: 90%;
    padding: 40px 0px;
  }

  /* Styles the footer */
  FOOTER {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: 50px;
    grid-template-areas: 'social copyright';
  }

  FOOTER DIV {
    padding: 0px 20px;
  }

  DIV.social {
    grid-area: social;
    text-align: left;
  }

  FOOTER DIV.copyright {
    grid-area: copyright;
    text-align: right;
    color: #666;
  }

  FOOTER DIV.copyright I {
    color: #666;
  }

  FOOTER DIV.social UL {
    text-align: left;
  }

  FOOTER DIV.social UL LI A {
    color: #666;
    text-align: center;
  }

  FOOTER DIV.social UL LI A:hover {
    background-color: #666;
    color: #9fcfea;
  }

  BODY.content-page FOOTER {
    background-color: #EFEFEF;
  }

  BODY.content-page DIV.page-content {
    background-color: #FFF;
    width: 80%;
    margin: 100px auto;
  }

  BODY.content-page DIV.page-content ARTICLE.content {
    background-color: #FFF;
    border-color: #FFF;
  }

  ARTICLE.content DIV.content-header {
    margin-top: -75px;
  }
}

/* Desktop version */
@media screen and (min-width: 1200px) {
  BODY {
    background-color: #9fcfea;
    display: block;
  }

  /* Styles the nav for desktop */
  NAV#main-nav {
    top: 140px;
    bottom: 50px;
    left: 0;
    width: 300px;
    height: auto;
  }

  NAV#main-nav .page-list {
    margin-bottom: 140px;
    height: calc(100vh - 380px);
  }

  /* Styles my name for the nav */
  NAV#main-nav H1 {
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;
  }

  /* Hides the close button for dekstop version */
  A#close-menu {
    display: none;
  }

  /* Styles footer */
   FOOTER {
    width: 300px;
    background-color: #FFF;
  }

  BODY.content-page FOOTER {
   background-color: #FFF;
 }

  A.profile-picture {
    margin: 0;
    left: 0;
    width: auto;
    height: 90px;
    max-width: 90px;
  }

  A.profile-picture IMG {
    width: 90px;
  }

  HEADER {
    position: fixed;
    top: 0;
    left: 0;
    height: 140px;
    width: 300px;
    background-color: #FFF;
  }

  /* Style page content for desktop */
  DIV.page-content {
    position: fixed;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }

  BODY.content-page DIV.page-content {
    height: 100vh;
    width: calc(100vw - 300px);
    margin: 0;
    background-color: #9fcfea;
    display: block;
  }

  /* Styles and positions page content */
  BODY.content-page DIV.page-content ARTICLE.content {
    width: calc(100% - 100px);
    height: auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
  }

  ARTICLE.content DIV.content-header {
    justify-content: flex-end;
  }

  ARTICLE.content IMG {
    float: left;
    margin: 20px;
    max-width: 400px;
  }

  /* Styles the image for nav bar */
  .image-column {
    width: 500px;
    display: inline-block;
    float: left
  }

  .content-column {
    width: calc(100% - 550px);
    display: inline-block;
  }

  p {
    font-size: 22px;
  }

  /* Sets font size for design page */
  .process-breakdown {
    font-size: 22px;
  }

  /* Styles the content for contact page */
  .contact-content {
    margin-top: 10%;
    text-align: center;
    line-height: 50px;
  }

  .myprojects {
    margin-top: 10%;
  }

  /* Sets buttons width */
  BUTTON {
    width: 50%;
  }
}
