/* Sets the background to pastel blue with bone pattern only viewable in the end columns. */
body {
  margin: 0;
}

/* Defines the grid for the layout of the pages. */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
  "logo navbar navbar navbar navbar"
  "title title title title title"
  "header header header header header"
  "content content content discount discount"
  "footer footer footer form form";
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
  "logo navbar navbar navbar navbar"
  "title title title title title"
  "header header header header header"
  "content content content2 discount discount"
  "footer footer footer form form";
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
  "logo navbar navbar navbar navbar"
  "title title title title title"
  "header header header header header"
  "content content2 content3 discount discount"
  "footer footer footer form form";
}

.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
  "logo navbar navbar navbar"
  "title title title title"
  "header header header header"
  "content content1 content2 content3"
  "footer footer footer form";
}

/* Styles the title and defines grid area. */
.title {
  grid-area: header;
  text-align: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.7)
    ),url(images/browndog.jpg);
    color: white;
    font-style: sans-serif;
    font-size: 50px;
}

/* Styles the header and defines grid area. */
.header {
  grid-area: header;
  text-align: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.7)
    ),url(images/blackdog.png);
    color: white;
    font-style: sans-serif;
    font-size: 50px;
}

/* Styles the logo background and defines the grid area. */
.logo {
  grid-area: logo;
  background-color: white;
}

.discount {
  grid-area: discount;
  background-color: white;
}

.dogimage {
  grid-area: dogimage;
  background-color: white;
}

/* Styles the background of the navbar and defines the grid area. */
.navbar {
  grid-area: navbar;
  background-color: white;
}

/* Styles and defines the content area. Displays the nested grid. */
.content {
  grid-area: content;
  display: grid;
  background-color: white;
  margin-left: 1.5em;
  line-height: 30px;
}

.content1 {
  grid-area: content1;
  display: grid;
  background-color: white;
  margin-left: 1.5em;
  line-height: 30px;
}


.content2 {
  grid-area: content2;
  display: grid;
  background-color: white;
  margin-left: 1.5em;
  line-height: 30px;
}

.content3 {
  grid-area: content3;
  display: grid;
  background-color: white;
  margin-left: 1.5em;
  line-height: 30px;
}

/* Sets the background colour of the footer and defines the grid area. */
.footer {
  grid-area: footer;
  background-color: black;
}

/*Adds the background colour and some padding to the form, defines grid area */
.form {
  grid-area: form;
  border-radius: 5px;
  background-color: black;
  padding: 20px;
}

#location {
  text-align: center;
  color: black;
  font-size: 22px;
  margin-left: 1em;
  margin-top: 0.4em;
  text-decoration: underline;
}

/* Sizes and places the logo. */
#logo {
  width: 160px;
  height: 160px;
  padding-left: 30px;
}

/* Styles the banner. */
#banner {
  width: 100%;
}

/* helps place the opening times in the footer. */
#times {
  margin-left: 1.5em;
  color: white;
}

#offer {
  height: 60%;
  float: right;
}

#walkies {
  height: 410px;
  width: 380px;
}

#browndog {
  width: 100%;
  margin-left: 0;
}

#maintitle {
  float: right;
  background-color: inherit;
  font-size: 50px;
  margin-right: 5em;
}

#version2 {
  color: black;
  font-size: 22px;
  margin-left: 1em;
  margin-top: 0.4em;
  text-decoration: underline;
}

#serviceul {
  margin-top: 0em;
}

/* Defines the main heading. */
h1 {
  text-align: center;
  font-size: 50px;
  background: #ffc87c;
}

h3 {
  font-size: 30px;
  margin-top: 5em;
}

ul {
  line-height: 40px;
  font-size: 22px;
}

p {
  font-size: 20px;
}

p2 {
  color: white;
  font-size: 22px;
  margin-left: 1.5em;
}

form {
  font-size: 22px;
  color: white;
}

Copywright {
  color: white;
}

/*Styles the form */
input[type=text], select, textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 15px;
}

/* Styles the submit button */
input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/* Styles the navbar */
a {
  display: inline-block;
  font-size: 30px;
  padding-top: 65px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  text-decoration: none;
  color: black;
  float: right;
}

a:hover {
  border-bottom: 4px solid #ff800d;
}

.active {
  border-bottom: 4px solid #ff800d;
  color: #ff800d;
  font-weight: bold;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.4s;
  margin: 0.6em;
  background-color: #e6ffff;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.4);
}


/* Mobile version of the grid */
@@media screen and (max-width: 736px) {

}
